body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
a {
    font-size: 20px;
}
.nav__link {
    color: black;
    text-decoration: none;
    transition-duration: 0.3s;
}
.nav__link:hover {
    color: red;
    text-decoration: none;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__search__profile__currency__cart{
    display: inline-flex;
    align-items: center;

}
.nav__links{
    width: 60%;
}
.nav__link{
    margin-right: 20px;
}
.nav__searchfield{
    border: none;
    border: 2px solid black;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    height: 35px;
    color:grey;
    font-size: 20px;
}
img.nav__searchbutton.nav___medium{
    border: 2px solid black;
    margin-right: 20px;
    height: 37px;
    width: 37px;
    border-radius: 0px 10px 10px 0px;
}
.nav___medium{
    width: 30px;
    margin-right: 5px;
}
.shoes-shop{
    display: flex;
}
.shoes-wrapper{
    border: 2px solid black;
    width: 100%;
    text-align: center;
}
.cart {
    width: 30vw;
  height: 100vh;
  background-color: #FFE600;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  padding-left: 5%;
}

.cart.hide {
    transform: translate3d(130vw, 0, 0);
    transition: transform .3s
  }
.cart.show {
    transform: translate3d(70vw, 0, 0);
    overflow: hidden;
  }
.cart-count {
    position: relative;
    top: -15px;
    left: -13px;
    background-color: red;

    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}
.cart-closing-field.show {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed; 
    z-index: 1000;
    background-color: rgba(63, 61, 61, 0.6);
    transition: 0.3s;
}
.home_promotion {
    display: flex;
}
.home_promotion_Nike {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 70px;
    width: 100%;
}
.home_promotion_Nike.home_promotion_Nike__header {
    margin: 0;
}
.home_promotion_Nike.home_promotion_Nike__button {
    width: 300px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
    height: 50px;
    background-color: white;
    border: 2px solid black;
}